.left-section-image {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.left-section-image:hover {
    transform: scale(1.1);
    /* Enlarge the image on hover */
}

.hire-freelancer-button {
    display: block;
    width: 50%;
    background-color: #57C675;
    /* Orange color */
    color: #fff;
    border: none;
    padding: 15px 0;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 20%;
}

.hire-freelancer-button:hover {
    transform: scale(1.3);
    /* Dynamically change size */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.project-form input,
.project-form textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}