/* postProjectStyles.css */
.post-project-container {
    margin-top: 50px;
    display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
}

.post-project-container h1 {
    text-align: center;
    font-size: 40px;
    margin-right: 15%;
}
.post-project-container h2 {
    text-align: center;
    margin-right: 15%;
    margin-bottom: 7%;
}
.project-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
}

input[type="text"],
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #407BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #407BFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.submit-project-left {
    width: 50%;
}
.submit-project-right {
    width: 50%;
}

.submit-project-right img {
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.submit-project-right img:hover {
    transform: scale(1.2);
}

/* .raise-issue-form {
    display: flex;
    flex-direction: column;
} */

.submit-project-form label {
    margin-bottom: 10px;
}

.submit-project-form input,
.submit-project-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
span{
    color: #407BFF;
}
.altert-time{
    color: #ff4757;
}