.right-section-image {
    width: 100%;
    border-radius: 10px;
    padding-right: 2%;
    transition: transform 0.3s ease;
}

.right-section-image:hover {
    transform: scale(1.1);
    /* Enlarge the image on hover */
}


.project-card {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.project-front {
    z-index: 2;
}

.project-back {
    transform: rotateY(180deg);
}

.project-container.flipped .project-front {
    transform: rotateY(180deg);
}

.project-container.flipped .project-back {
    transform: rotateY(0deg);
}

.project-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button_div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.post-project-button {
    display: block;
    width: 50%;
    background-color: #22BCA9;
    /* Orange color */
    color: #fff;
    border: none;
    padding: 15px 0;
   
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}

.post-project-button:hover {
    transform: scale(1.3);
    /* Dynamically change size */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.project-form input,
.project-form textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.post-button {
    background-color: #22BCA9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-button:hover {
    transform: scale(1.1);
    /* Dynamically change size */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}


.front{
    display: none;
}