/* recentlyPostedStyles.css */
/* Flip and stuff */
.recent-card {
    width: 100%;
    height: 100%;
    padding-top: 0%;
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.recent-card-back {
    transform: rotateY(180deg);
}

.card-container.flipped .recent-card-front {
    transform: rotateY(180deg);
}

.card-container.flipped .recent-card-back {
    transform: rotateY(0deg);
}

/* end flip and stuff */
/* Container Styles */
.recently-posted-container {
    margin-top: 50px;
}

/* Header Styles */
.recently-posted-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 30px;
    margin: auto;
    font-size: 20px;
}

.heading-text {
    display: flex;
    align-items: center;
}

.heading-text h1 {
    margin: 0;
}

.heading-text span {
    color: #0C359E;
    margin-left: 5px;
}

/* Navigation Button Styles */
.navigation-buttons button {
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
    padding: 20px;
    transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
    transform: scale(1.3);
    color: #ff8c00;
}

/* Card Styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 350px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

/* Card Content Styles */
.card-content {
    padding: 20px;
    text-align: center;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.card-timeleft {
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
}

.card-min-bid {
    font-size: 14px;
    color: #999;
}

/* Apply Now Button Styles */
.apply-now-button {
    margin: 1rem 0;
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
    text-decoration: none;
}

.apply-now-button:hover {
    background-color: #ff4757;
    transform: scale(1.1);
}

.recent-post-button {
    background-color: #0C359E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 1rem;
}

.recent-post-button:hover {
    transform: scale(1.1);
    background-color: #22BCA9;
    /* Dynamically change size */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.recent-card-form {
    margin: 25px;
}